/* header */
.txt-white{
 color: #FFF;
}
.lcolor{
background: #71bb2f;
}
.bg-color{
 background: #5597ff;
}
.bg-blus{
 color: #55c1ff;
}
#blus{
background-color: #55c1ff;
}
.active {
  color: #ffffff;
}

.hide{
 display: none;
}
.hl{
 display: block;
 float: left;
}
@media (min-width: 760px) {
.br{
 margin-left: 10px;
 margin-right: 10px;
}

.nav-scroller{
 max-width: 400px;
}
}

.ma{
 margin-top: 3px;
}

/*Lista del filtro*/
.nav-scroller {
        position: relative;
        z-index: 2;
        height: auto;
        max-width: px;
        overflow-y: hidden;
      }
.nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 0rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
/* fin header */

/* Efecto slider */
#idicat [data-bs-target] {  
  background-color: #ffffff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#carousel-control-prev-icono {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23999'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

#carousel-control-next-icono {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23999'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.cris{
 box-shadow: 0 25px 45px rgba(0,0,0,.3);
 border: 2px solid rgb(225,225,225,.3);
 background: rgba(1,1,1,0.2);
 backdrop-filter: blur(10px);
 transition: all 500ms ease-out;
 opacity: 0;
 visibility: hidden;
}
.cp:hover > .cris{
 opacity: 1;
 visibility: visible; 
}
.cp:hover > img{
transform: scale(0.5);
}
/* fin efecto slider */

/* catalogo */
.catalogo{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: auto;
}
.producto{
  overflow: hidden;
  position: relative;
  height: 350px;
  width: 350px;
  margin: 15px;  
  border-radius: 15px; 
  box-shadow: 0px 15px 25px rgba(1,1,1,0.50);
 cursor: pointer;
}
.producto .front img{
  transition: all 500ms ease-out;
  width: 100%;
  height: 100%;
  
}
.producto .front h1{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 50px;  
  color: black;
  background: rgba(225,225,225,.5);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border: 2px solid rgb(225,225,225,.1);
  backdrop-filter: blur(10px);
  text-align: center;
  margin-bottom: 0;
}
.producto .back{
  padding: 15px;
  color: #f3f3f3;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(1,1,1,0.6);
  backdrop-filter: blur(5px);
  transition: all 500ms ease-out;
  text-align: center;
}

.producto:hover .back{
  visibility: visible;
  opacity: 1;
}
.producto:hover img{
 transform: scale(1.2);
}
.bor{
 border-radius: 10;
}
/* fin catalogo */
/* animacion de texto */

.ftxt{
 /* text-transform: uppercase; */
 user-select: none;
 font-size: 1rem; 
 cursor: pointer;
 transition: .3 linear;
 color: transparent;
 -webkit-text-stroke: 0.2px #000;
 background-image: linear-gradient(to left, white, #f9f9f9, #000000, #000000);
background-size: 200%;
-webkit-background-clip: text;
animation: move 60s linear infinite;
}
@keyframes move {
 100%{
  background-position: 2000px 0;
 }
}

.ftxt:hover{
 color: #000;
 text-shadow:  0 0 10px rgba(0,1,2,.5),
               0 0 20px rgba(0,1,2,.5),
               0 0 40px rgba(0,1,2,.5),
               0 0 80px rgba(0,1,2,.5),
               0 0 160px rgba(0,1,2,.5),
               0 0 320px rgba(0,1,2,.5);
}
/* fin efecto de txt */

/* footer */
.SbTxC{
 color: whitesmoke;
 text-decoration: none;
 font-weight: bold;
}
.SbTxC:hover{
 color: #55c1ff;
}

